.idea
.ipynb_checkpoints
data/coronahack-chest-x-ray/test
data/coronahack-chest-x-ray/train
data/unet
data/chest-x-ray

### Binaries, virtual environments, etc. ###
frontend/node_modules
frontend/dist
backend/env/chest_x_ray/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history