<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="">
        <mat-icon matListIcon>home</mat-icon>
        Home
      </a>
      <a mat-list-item href="get-started">
        <mat-icon matListIcon>emoji_objects</mat-icon>
        Tutorial
      </a>
      <a mat-list-item href="dashboard">
        <mat-icon matListIcon>dashboard</mat-icon>
        Patient Dashboard
      </a>
      <a mat-list-item href="file-analysis">
        <mat-icon matListIcon>publish</mat-icon>
        File Analysis
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <a class="nostyle" href=""><h1>Chest X-ray UI</h1></a>
      </span>
      <div class="flex-spacer"></div>
      <a mat-button href="https://github.com/ai-explorers/chest_x_ray">
        <img class="logo" src="./../../../assets/img/github-light.png">
        <img class="logo-written" src="./../../../assets/img/github-font-logo.png">
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
