<div class="header-section">
    <h1>Chest X-ray UI</h1>
    <h2> Deep Learning based pneumonia detection</h2>
    <button mat-raised-button routerLink="get-started">Tutorial</button>
</div>
<div class="content-section">
    <div class="promo">
        <div class="row">
            <div class="row-column">
                <h2>About</h2>
                <p>
                    With this tool you can analyze chest x-rays and detect viral and bacterial pneumonia within seconds.
                </p>
                <p>
                    Sequential three stage approach for lung segmentation, pneumonia detection and viral versus bacterial pneumonia distinction.
                </p>
            </div>
            <div class="row-column">
                <h2>Open Source</h2>
                <p>
                    The source code of this website and the underlying deep learning models are publicly available on GitHub.
                </p>
                <p>
                    Feel free to reach out to us if you are interested in the project.
                </p>
            </div>
            <div class="row-column">
                <h2>Disclaimer</h2>
                <p>
                    This tool is experimental and must not be used for clinical or commercial purposes.
                </p>
                <p>
                    Both the website and neural networks are under development. Functionality, layout and availability are subject to change.
                </p>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>


    <div class="contact">
        <h2>Contact</h2>
        <mat-card class="card">
            <mat-card-header onclick="location.href='mailto:jan.raber@gmx.net';">
                <div mat-card-avatar class="jan-image"></div>
                <mat-card-title>Jan Raber</mat-card-title>
                <mat-card-subtitle>Master thesis student</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Angular Frontend - AWS deployment</mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header onclick="location.href='mailto:friedmannda@gmail.com';">
                <div mat-card-avatar class="daniel-image"></div>
                <mat-card-title>Daniel Friedmann</mat-card-title>
                <mat-card-subtitle>Master thesis student</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Deep Learning models - AWS deployment</mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header onclick="location.href='mailto:sebstein10@gmail.com';">
                <div mat-card-avatar class="sebastian-image"></div>
                <mat-card-title>Sebastian Steindl</mat-card-title>
                <mat-card-subtitle>Working student</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Deep Learning models</mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header onclick="location.href='mailto:eldar.sultanow@capgemini.com';">
                <div mat-card-avatar class="eldar-image"></div>
                <mat-card-title>Eldar Sultanow</mat-card-title>
                <mat-card-subtitle>Mentor</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
    </div>
</div>