<div class="header-section">
    <div class="header-headline">
        <h1>Chest X-ray UI</h1>
        <h2> Deep Learning based pneumonia detection</h2>
        <button mat-raised-button routerLink="/get-started">Tutorial</button>
    </div>
</div>
<div class="homepage-promo">
    <div class="homepage-row">
        <div class="homepage-row-column">
            <h2>About</h2>
            <p>
                With this tool you can analyze chest x-rays and detect viral and bacterial pneumonia within seconds.
            </p>
            <p>
                Sequential three stage approach for lung segmentation, pneumonia detection and viral versus bacterial pneumonia distinction.
            </p>
        </div>
        <div class="homepage-row-column">
            <h2>Open Source</h2>
            <p>
                The source code of this website and the underlying deep learning models are publicly available on GitHub.
            </p>
            <p>
                Feel free to reach out to us if you are interested in the project.
            </p>
        </div>
        <div class="homepage-row-column">
            <h2>Disclaimer</h2>
            <p>
                This tool is experimental and must not be used for clinical or commercial purposes.
            </p>
            <p>
                Both the website and neural networks are under development. Functionality, layout and availability are subject to change.
            </p>
            <p>
                Do not forward this tool or it's URL without permission of the creators.
            </p>
        </div>
    </div>
</div>