.analysis-container {
    margin: 20px;
}

.segmentation-result {
    width: 200px;
    float: left;            // multiple cards within same row
    margin-bottom: 20px;
    margin-right: 10px;
}

.add-button {
    clear: left;            // button is placed in new row
}