<div class="analysis-container">
    <div>
        <h1 *ngIf="results.length > 0">Results</h1>
        <mat-card class="card" *ngFor="let result of results">
            <mat-card-title>{{ result.title }}</mat-card-title>
            <mat-card-content>
                <div class="image-container">
                    <img class="image" [src]="result.urlOriginal" alt="">
                    <img class="overlay" [src]="result.url" alt="">
                </div>
                <div *ngIf="result.pneumoniaPredictionValue == null; else prediction"></div>
                <ng-template #prediction>
                    <rg-gauge-chart
                        [canvasWidth]="canvasWidth"
                        [needleValue]="result.pneumoniaPredictionValue"
                        [options]="optionsPneumoniaGauge">
                    </rg-gauge-chart>
                    <rg-gauge-chart
                        [canvasWidth]="canvasWidth"
                        [needleValue]="result.viralPredictionValue"
                        [options]="optionsViralGauge">
                    </rg-gauge-chart>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="add-button">
        <button mat-fab color="primary" (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
        </button>
        <input #fileInput hidden (change)="handleFileUpload($event.target.files)" type="file" id="fileUpload">
    </div>
</div>
