<div class="analysis-container">
    <div>
        <h1 *ngIf="segmentationResults.length > 0">Segmentation results</h1>
        <mat-card class="card" *ngFor="let result of segmentationResults">
            <mat-card-title>{{ result.title }}</mat-card-title>
            <mat-card-content>
                <div class="image-container">
                    <img class="image" [src]="result.urlOriginal" alt="">
                    <img class="overlay" [src]="result.url" alt="">
                </div>
                <h3 *ngIf="result.result == null; else classificationResult">Classification</h3>
                <ng-template #classificationResult>
                    <h3>Classification: {{result.result}}</h3>
                </ng-template>
                <mat-progress-bar *ngIf="result.predictionValue == null; else progress" mode="buffer"></mat-progress-bar>
                <ng-template #progress>
                    <mat-progress-bar *ngIf="result.predictionValue < 30" class="green-progress" mode="determinate" value={{result.predictionValue}}></mat-progress-bar>
                    <mat-progress-bar *ngIf="result.predictionValue >= 30 && result.predictionValue <= 70" class="yellow-progress" mode="determinate" value={{result.predictionValue}}></mat-progress-bar>
                    <mat-progress-bar *ngIf="result.predictionValue > 70" class="red-progress" mode="determinate" value={{result.predictionValue}}></mat-progress-bar>
                </ng-template>
                </mat-card-content>
        </mat-card>
    </div>
    <div class="add-button">
        <button mat-fab color="primary" (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
        </button>
        <input #fileInput hidden (change)="handleFileUpload($event.target.files)" type="file" id="fileUpload">
    </div>
</div>
