<div class="grid-container">
    <mat-grid-list [cols]="nColumns" rowHeight="350px">
      <mat-grid-tile *ngFor="let patient of patientObserver | async" colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{patient.name}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="fileInput.click()">Add files</button>
                <input #fileInput hidden (change)="handleFileUpload($event.target.files, patient)" type="file" id="fileUpload">
                <button mat-menu-item (click)="removePatient(patient)">Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <h3>Content here could for example contain:</h3>
              <ul>
                <li>Number of uploaded files</li>
                <li>Current diagnosis</li>
                <li>Information about the patient</li>
                <li>...</li>
              </ul>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Add a new patient
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  