.main-container {
    margin: 20px;
}

h1 {
    font-size: 25px;
    font-weight: 400;
    margin: 16px 0;
}

h2 {
    margin: 25px 0 5px 0;
}

mat-divider {
    width: 90%;
    margin: 30px 0 30px 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 90%;
}

.image-container {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}
